<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>All|Message</title>
</head>
<body>
    <%- include("./partials/navbar")%>
    <div class="w3-display-container ">
      <div class="w3-display-topmiddle">
          <h3>All Messages</h3>
          <% items.forEach(item =>{%>
            <div class="w3-container">
                <div class="w3-card-4" style="width:100%; margin: 5px;">
                  <header class="w3-container w3-blue">
                    <img src="./image/avatar.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:50px; height:50px;">
                    <h4><%= item.firstName%> <%= item.lastName%></h4>
                  </header>
                  <div class="w3-container">
                    <p><%= item.message%></p><hr>
                  </div>
                  <div class="w3-container  w3-sand" style="margin: 5px; padding: 5px;">
                    <label>Email : <label><%= item.email%></label></label>
                    <a href="/delete/<%= item._id%>"> 
                      <button  id ="update" class="w3-button  w3-round w3-right w3-red">Delete</button>
                    </a> 
                    <a href="/messages/<%= item._id%>">
                      <button  id ="update" class="w3-button  w3-round w3-right w3-green" style="margin-right: 15px;">View</button>
                    </a> 
                  </div>
                </div>
              </div>
            <% })%>
      </div>
    </div>
    </body>
</html>